/* Header styling */

header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  width: 100%;
  height: 80px;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  background-color: white;
  z-index: 1;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}

.logo img {
  width: 70px;
  height: 60px;
  margin-right: 12px;
}

.logo span {
  color: MediumAquamarine;
  font-size: 14px;
}

nav {
  padding-right: 40px;
  display: block;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

nav a {
  color: black;
}

/* Content styling */

.content {
  display: flex;
  width: 1232px;
  margin: 0 auto 78px auto;
  padding-top: 116px;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 200px;
}

h2,
  h3 {
    font-weight: bold;
  }

h2 {
  margin: 19px 0;
}

h3 {
  margin: 19px 0;
}

.narrative,
  .bite {
    font-family: Georgia;
    font-size: 17px;
    color: black;
}

.narrative {
  display: block;
  margin: 16px 0;
}

.stories {
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
  width: 630px;
}

.story {
  display: flex;
  width: 300px;
  flex-direction: column;
}

.lead.story {
  width: 630px;
}

.text-content {
  display: flex;
  flex-direction: column;
}

.stories .text-content {
  height: 250px;
}

/* Images styling */

.image-content div {
  display: flex;
}

.image-content {
  height: 300px;
  text-align: center;
  margin-top: 16px;
}

.image-content span {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}

.lead.image-content span {
  font-size: 40px;
}

.cookie img {
  width: 240px;
  height: 240px;
}

.lead.image-content {
  background-image: url("../Images/MainStory.png");
  text-align: left;
}

.fall.image-content {
  background-image: url("../Images/FallSeason.png");
}

.pop-culture.image-content {
  background-image: url("../Images/HipsterCameraman.png");
}

.cat.image-content {
  background-image: url("../Images/CatCEO.png");
}
